@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F7C7B9;
    padding: 0.5rem 5rem;
}

#logo{
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

#logo h1{
    font-weight: 500;
    letter-spacing: 0em;
}

#menu{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

#menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.8rem;
}

#main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 5rem;
    background-color: #F7C7B9;

}

#Nataltext{
    display: flex;
    flex-direction: column;  
}

#Nataltext h2{
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#Nataltext p{
    font-weight: 500;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

#donationbutton {
    color: white;
    background-color:#DA2535 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0;
    width: 13rem;
}

#acessorios{
    background-color: white;
    padding: 3rem 5rem;
}

#acessoriostext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#acessoriostext h2{
    font-weight: 600;
    font-size: 2.5rem;
}

#acessoriostext p{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
}

#itensboxes ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}




